header{
    background-color: blue;
    color: white;
    padding: 5px;
    text-align: center;
}

body{
    margin: 0;
}

#grid{
    text-align: center;
    margin: 0;
    gap: 20px;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

input{
    width: 48vw;
    padding: 10px;
    border-radius: 5px;
}

select{
width: 48vw;
padding: 10px;
border-radius: 5px;
}

form{
    margin: 20px 0;
}

.label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}


.btn-cadastrar{
    background-color: blue;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

#botao{
    justify-content: center;
    display: flex;
}

*{
    box-sizing: border-box;
}


